<header class="site-header-login">
    <button onclick="window.location.href='/oversigt/forside'" class="logo-button">
        <img src="https://media.alpha-solutions.com/da/-/media/alphawebsite2019/defaults/logo.ashx?iar=0&hash=47313F5015E221C5AA54A61AFA0E9CA6" alt="Alpha Solutions Logo" class="logo" style="width: 180px; height: auto;">
    </button>
    <div class="header-title">Projektoversigt</div>
    <nav>
        <h1> </h1>
        <ul>
            <li><a href="/oversigt/forside">Login</a></li>
            <li><a href="/oversigt/projekter">Dine projekter</a></li>
            <li><a href="/oversigt/nytprojekt">Nyt projekt </a></li>
            <li><a href="/Kontakt">Kontakt support</a></li>
        </ul>
    </nav>
</header>
