<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tilføj Medlem til Projekt</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="container">
    <h4 class="section-title">Tilføj personale til projektgruppen:</h4>
    <div class="project-container">
        <div th:each="user : ${users}" class="item-list">
            <p th:text="'Brugernavn: ' + ${user.userName}"></p>
            <p th:text="'Email: ' + ${user.email}"></p>
            <p th:text="'By: ' + ${user.location}"></p>
            <br>
            <a th:href="@{'/oversigt/bruger/' + ${user.userId}}" class="action-btn">Se Bruger</a>
            <form th:action="@{'/oversigt/' + ${project.projectName} + '/tilfoej_medlem'}" method="post" class="inline-form">
                <input type="hidden" name="projectId" th:value="${project.projectId}" />
                <input type="hidden" name="userId" th:value="${user.userId}" />
                <select name="roleValue" required>
                    <option value="" disabled selected>Vælg en rolle</option>
                    <option value="1">Observatør</option>
                    <option value="2">Sekundær projektleder</option>
                    <option value="3">Udvikler</option>
                </select>
                <button type="submit" class="action-btn">Tilføj til gruppen</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
