<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Administrator</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body class="no-scroll">
<div th:replace="~{fragments/header :: header}"></div>
<div class="container-admin">
    <h2 class="section-title">Administrator indstillinger:</h2>
    <div class="admin-buttons">
        <a th:href="@{/oversigt/alle_brugere}" class="admin-btn">Brugerliste</a>
        <a th:href="@{/oversigt/administrator/projekter}" class="admin-btn">Projektliste</a>
    </div>
</div>
</body>
</html>
