<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{'/oversigt/rediger_bruger/' + ${user.userId}}" th:object="${user}" method="post">
  <input type="hidden" th:field="*{userId}" />

  <label for="userLogin">Brugernavn:</label>
  <input type="text" id="userLogin" th:field="*{login}" required />

  <label for="userName">Navn:</label>
  <input type="text" id="userName" th:field="*{userName}" required />

  <label for="userPassword">Kodeord:</label>
  <input type="password" id="userPassword" th:field="*{password}" required />

  <label for="isAdmin">Admin:</label>
  <select id="isAdmin" th:field="*{isAdmin}">
    <option value="true" th:selected="${user.isAdmin} == true">Ja</option>
    <option value="false" th:selected="${user.isAdmin} == false">Nej</option>
  </select>

  <label for="isProjectLead">Projektleder:</label>
  <select id="isProjectLead" th:field="*{isProjectLead}">
    <option value="true" th:selected="${user.isProjectLead} == true">Ja</option>
    <option value="false" th:selected="${user.isProjectLead} == false">Nej</option>
  </select>

  <label for="email">Email:</label>
  <input type="email" id="email" th:field="*{email}" required />

  <label for="location">By:</label>
  <input type="text" id="location" th:field="*{location}" required />

  <button type="submit" class="btn btn-primary">Opdater bruger</button>
  <a href="/oversigt/administrator" class="btn btn-secondary" role="button">Fortryd ændringer</a>
</form>
<br>
<br>
<br>
<br>
<br>
<form th:action="@{'/oversigt/slet_bruger/' + ${user.userName} +'?userId=' + ${user.userId}}" method="post">
  <button type="submit" class="btn btn-danger" onclick="return confirm('Advarsel! Dette er en permanent handling og brugeren slettes permanent fra databasen!')">Slet bruger</button>
</form>

</body>
</html>