<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nyt projekt</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body class="no-scroll">
<div th:replace="~{fragments/header :: header}"></div>

<div class="container-project">
    <div class="form-wrapper">
        <h2 class="section-title-project">Opret nyt projekt: <span th:text="${subProjectName}"></span></h2>

        <form method="post" th:action="@{/oversigt/nytprojekt}" th:object="${project}">
            <div class="form-project">
                <label for="projectName">Projektets titel:</label>
                <input type="text" th:field="*{projectName}" id="projectName" class="form-control" required>
            </div>
            <div class="form-project">
                <label for="deadline">Deadline:</label>
                <input type="date" th:field="*{deadline}" id="deadline" class="form-control" required>
            </div>
            <div class="form-description">
                <label for="description">Projektbeskrivelse:</label>
                <textarea th:field="*{description}" id="description" class="form-control"></textarea>
            </div>
            <div class="button-container">
                <button type="submit" class="new-btn-project">Opret projekt</button>
                <a href="/oversigt/projekter" class="project-button-project">Fortryd oprettelse</a>
            </div>
        </form>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
