<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${subProjectName}"></title>
</head>
<body>
<h3 th:if="${tasks.isEmpty()}" th:text="'Ingen opgaver fundet. Opret opgaver for projektet ' + ${subProjectName}"></h3>
<div>
    <a th:if="${#strings.equalsIgnoreCase(role, 'projectLead') || #strings.equalsIgnoreCase(role, 'developer')}" th:href="@{'/oversigt/' + ${subProjectName} + '/opret_opgave' +'?subProjectName=' +${subProjectName} +'&parentProjectId=' +${subProjectId}}">Tilføj opgave.</a>
</div>
<div th:if="${tasks != null}" th:each="task : ${tasks}" class="task-list">
    <h4 th:text="${task.taskName}"></h4>
    <a th:href="@{'/oversigt/' + ${subProjectName} + '/' + ${task.taskName} +'?subProjectId=' + ${subProjectId} + '&taskId='+ ${task.taskId} + '&userRole=' + ${role}}" class="task-button">Se opgave!</a>

    <p th:text="${task.hours}"></p>

</div>
</body>
</html>