<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${subProjectName}"></title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="container">
    <h3 th:if="${tasks.isEmpty()}" th:text="'Ingen opgaver fundet. Opret opgaver for projektet ' + ${subProjectName}"></h3>

    <div class="project-actions" th:if="${!archived}">
        <a th:if="${#strings.equalsIgnoreCase(role, 'projektleder') || #strings.equalsIgnoreCase(role, 'udvikler')}"
           th:href="@{'/oversigt/' + ${subProjectName} + '/opret_opgave' +'?subProjectName=' +${subProjectName} +'&parentProjectId=' +${subProjectId}}"
           class="action-btn new-btn">Tilføj opgave</a>
        <a th:if="${#strings.equalsIgnoreCase(role, 'projektleder') || #strings.equalsIgnoreCase(role, 'udvikler')}"
           th:href="@{'/oversigt/' + ${subProjectName} + '/rediger_delprojekt/'+ ${subProjectId} +'?subProjectId=' +${subProjectId}}"
           class="action-btn new-btn">Rediger delprojekt</a>
    </div>
    <h2 class="section-title">Dine opgaver:</h2>
    <div class="project-container" th:if="${tasks != null}">
        <div th:each="task : ${tasks}" class="item-list">
            <h2 th:text="${task.taskName}"></h2>
            <p>Opgavebeskrivelse: </p>
            <p th:text="${task.description}"></p>
            <a th:href="@{'/oversigt/' + ${subProjectName} + '/' + ${task.taskName} +'?subProjectId=' + ${subProjectId} + '&taskId='+ ${task.taskId} + '&userRole=' + ${role} + '&archived=' +${archived}}"
               class="view-subproject-btn">Se opgave!</a>
            <p th:text="${task.hours}"></p>
        </div>
    </div>
    <form th:if="${#strings.equalsIgnoreCase(role, 'projektleder')}" th:action="@{'/oversigt/slet_delprojekt/' + ${subProjectName} +'?subProjectId=' + ${subProjectId}}" method="post" class="inline-form">
        <button type="submit" class="btn btn-danger" onclick="return confirm('Advarsel! Dette er en permanent handling og delprojektet slettes permanent fra databasen!')">Slet delprojektet</button>
    </form>
</div>
</body>
</html>
