<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${taskName}"></title>
</head>
<body>


<h4 th:text="${taskName}" ></h4>
<div class="task-details">
    <h2 th:text="'Din rolle er ' + ${role}"></h2>

    <p th:text="'Forventes afsluttet efter '+ ${task.hours}+' arbejdstimer.'"></p>

</div>
<br>
<div th:if="${!archived}">
    <a th:if="${#strings.equalsIgnoreCase(role, 'projektleder') || #strings.equalsIgnoreCase(role, 'udvikler')}" th:href="@{'/oversigt/' + ${taskName} + '/rediger_opgave/'+ ${task.taskId} +'?taskId=' +${task.taskId}}">Rediger opgave.</a>
</div>
</body>

</html>