<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nyt Delprojekt</title>
</head>
<body>
<h2>Tilføj et delprojekt til  <span th:text="${projectName}"></span></h2>

<form method="post" th:action="@{'/oversigt/' + ${projectName} + '/opret_delprojekt'+'?parentProjectId=' +${projectId}}" th:object="${subproject}" >
    <div class="form-delprojekt">
        <label for="subProjectName">Delprojekt titel:</label>
        <input type="text" th:field="*{projectName}" id="subProjectName">
        <br>
    </div>
    <button type="submit">Tilføj delprojekt!</button>
    <a href="/oversigt/projekter" class="btn btn-secondary">Fortryd tilføjelse</a>
</form>
</body>
</html>