<!DOCTYPE html>
<html lang="en">
<nav>
    <ul>
        <a th:href="@{/oversigt/nytprojekt}" class="new-btn">Opret nyt projekt</a>
    </ul>
</nav>
<head>
    <meta charset="UTF-8">
    <title>Dine Projekter</title>
    <h2 class="section-title">Dine Projekter:</h2>
</head>
<body>

<div th:each="project : ${projects}" class="item-list">
    <h2 th:text="${project.projectName}"></h2>
    <h3 th:text="${project.userRole}"></h3>
    <p th:text="${project.deadline}"></p>
    <p th:text="${project.hours}"></p>
    <a th:href="@{'/oversigt/' + ${project.projectName} + '?projectId=' + ${project.projectId} + '&userRole=' + ${project.userRole}}" class="project-button">Se projekt</a>
    <br>
</div>
</body>
</html>