<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${subProject.projectName}"></title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body class="no-scroll">
<div th:replace="~{fragments/header :: header}"></div>

<div class="container-project">
    <div class="form-wrapper">
        <h2 class="section-title-project">Rediger delprojekt: </h2>
        <form method="post" th:action="@{'/oversigt/' + ${subProject.projectName} + '/rediger_delprojekt'}" class="form-project">
            <input type="hidden" th:name="projectId" th:value="${subProject.projectId}" />
            <div class="form-project">
                <label for="projectName">Delprojektets titel:</label>
                <input type="text" id="projectName" name="projectName" th:value="${subProject.projectName}" class="form-control" required/>
            </div>
            <div class="form-description">
                <label for="description">Delprojektbeskrivelse:</label>
                <textarea th:field="${subProject.description}" id="description" class="form-control"></textarea>
            </div>
            <br>
            <div class="button-container">
                <button type="submit" class="new-btn-project">Afslut redigering</button>
                <a href="/oversigt/projekter" class="project-button-project">Fortryd ændringer</a>
            </div>
        </form>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
