<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alle Brugere</title>
    <h2 class="section-title">Bruger information for alle brugere:</h2>
</head>
<body>
<div th:each="user : ${users}" class="user-list">
    <p th:text="'UserId: ' + ${user.userId}"></p>
    <p th:text="'Username: ' + ${user.userName}"></p>
    <p th:text="'Email: ' + ${user.email}"></p>
    <p th:text="'Land: ' + ${user.country}"></p>
    <a th:href="@{'/oversigt/bruger/' + ${user.userId}}" class="user-button">Se Bruger</a>
    <br>
</div>
</body>
</html>
